# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Venv
venv/
.venv/
env/bin/
env/lib/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# RL artefacts
runs/
checkpoints/
logs/
wandb/
*.pt
*.pth
*.zip

# Data / assets lourds (garder les sprites PNG légers, ignorer les ROMs)
assets/roms/
*.nes
*.gb

# IDE
.vscode/
.idea/
*.code-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Env vars / secrets
.env
*.key